{% load static %}
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
        <link href="{% static 'realmapp/style.css' %}" rel="stylesheet" type="text/css"> 
    </head>
    <body>
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <button class="logobtn" href=""><h3>REALM</h3></button>
                </div>
                <div class="navlinks">
                    <button class="navlink" href="">SERVICES</button>
                    <button class="navlink" href="">PORTFOLIO</button>
                    <button class="navlink" href="">PRICING</button>
                    <button class="navlink" href="">CONTACTS</button>
                </div>
                <div class="socials">
                    <a href=""><i class="bi bi-twitter" id="socials-link"></i></a>
                    <a href=""><i class="bi bi-github" id="socials-link" ></i></a>
                </div>
            </div>
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>