{% extends 'realmapp/base.html' %}
{% block title %}Realm Tech Solutions{% endblock %}
{% block content %}
<div class="intro">
    <center>
    <br><br><br><br>
    <h2>Hi!</h2>
    <h2>We are Realm!</h2>
    <h2>You imagine the project, we make it come true!</h2>
    <br><br>
    <h2>SKILLS</h2>
    <br>
    <h4>Python | Django | ReactJS | JavaScript | Android | Web Development</h4>
    <br><br>
    <button id="contactme">CONTACT ME</button>
    </center>
</div>
<div class="footer">
    <center>
    <h4>Made with <i class="bi bi-suit-heart"></i> by James.</h4>
    </center>
</div>
{% endblock %}