{% extends 'realmapp/base.html' %}
{% block title %}Realm Tech Solutions{% endblock %}
{% block content %}
<div class="intro">
    <center>
    <br><br><br><br><br><br>
    <h1>Hi!</h1>
    <h1>We are Realm</h1>
    <h1>You imagine the project, we make it come true!</h1>
    <br><br>
    <h1>SKILLS</h1>
    <br>
    <h3>Python | Django | ReactJS | JavaScript | Android | Web Development</h3>
    <br><br>
    <button id="contactme">CONTACT ME</button>
    </center>
</div>
<div class="footer">
    <center>
    <h4>Made with <i class="bi bi-suit-heart" id="lovemoji"></i> by James.</h4>
    </center>
</div>
{% endblock %}